/* Styly pro cely dokument */
    
body {
font-family: 'Georgia CE', 'Times New CE', 'New York CE', Georgia, times, serif;
color: #000;
}

/* Styly pro preskoceni navigace */
	
.preskoc_navigaci{
display: none;
}


#toolbar{
display: none;
}


#paticka{
display: none;
}


#menu{
display: none;
}